{% extends "base/layout.html" %}

{% block title %}Alterar senha - Celeris{% endblock %}

{% block content %}
  <form class="card form-grid password-form" data-table="usuario" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <label>Senha atual {{ form.old_password }}</label>
    <label>Nova senha {{ form.new_password1 }}</label>
    <label>Confirmar nova senha {{ form.new_password2 }}</label>
    <div class="form-actions span-2">
      <a class="button button-ghost" href="{% url 'core:home' %}">Cancelar</a>
      <button class="button button-primary" type="submit">Salvar senha</button>
    </div>
  </form>
{% endblock %}
